*{box-sizing: border-box;}


body {
    font-family: "Briem Hand", cursive;
   font-size: 16px;
   font-weight: 700;
   margin: 0;
   display: flex;
   flex-direction: column;
   background-color: #f1d69f53;
}
header{
    background-color: #f1d69faf;
    background-image: url("images/beach-banner.jpg");
    color: black;
    padding: 1rem 2vw;
    display: flex;
    align-items: center;
}
header div {
  padding:1vw;
}
header h1 {
    margin: 0;
    color: #ffffff;
}
header p {
  margin: 0;
  color: white;
  letter-spacing: .5px;
}
nav {
 border-bottom: #419bd3;
  }
  nav li.active a {
    color: #000;
  }
  nav a:hover {
      color: #419bd3;
    }
    a {
      color: #ff8e2b;
    }
    a:hover {
      color: #114361;
    }
    footer {
      background-color: #419bd3;
      text-align: center;
      color: #000;
      padding: 1rem 0;
      font-size: 1.2em;
    }
    footer a {
        color: #000000;
    }
    main {
      display: block;  
  justify-content: baseline;
  padding: 1rem;
  }
  ol {
    font-size: 20px;
    list-style-type: none;
    padding: 2rem;
   flex-wrap: wrap;
  }
  
  
  figure.one {
    width: 13%;
    margin: 0 1% 0 0;
    float: left;
}
figure.one img {
    width: 100%;
    height: auto;
}
figure.wrapped {
  width: 35%;
  margin: 0 1% 0 1%;
  float: right;
}
figure.wrapped img {
  width: 100%;
  height: auto;
}
figcaption {
  text-align: center;
  font-size: .90rem;
}
div.gallery {
  display: flex;
  flex-wrap: wrap;
}
figure.allery {
flex-wrap: wrap;
margin: 1rem 0;
}
div.gallery img {
  width: 98%;
  height: auto;
  box-shadow: 0px 0px 10px black;
}
div.gallery img:hover {
  box-shadow: 0px 0px 10px black;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.myForm legend {
  color: #114361;
  font-size: 3rem;
}
.myForm label {
  margin: .5rem;
}

.myForm label, .myForm select, .myForm [type=text], [type=tel],  [type=card],  [type=pin], .myForm textarea {
  display: block;
}

.myForm [type=text],  .myForm select, .myForm textarea {
border: solid 1px #888;
padding: .3rem;
width: 250px;
border-radius: .3rem;
font-weight: 200;
}

.myForm textarea {
  height: 5rem;
  width: 15rem;
}

.myForm :required {
  background-color: rgba(245, 107, 164, 0.1);
}

.myForm [type=submit] {
  background-color: #ff8e2b;
  border: none;
  padding: 1rem 2rem;
  border-radius: 30px;
  color: black;
  margin: 1rem 0 0 1vw;
  font-family: 'Briem Hand';
  font-weight: 900;
  font-size: x-large;
}

@media only screen and (min-width: 801px) {
    nav, header, footer, body{
      width: 100%;
    
    }
    
    header, nav, main, footer {
      max-width: 90rem;
      margin: 0 auto;
    }
      nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content:first baseline;
        border-bottom: solid 10px #419bd3;
    }
    nav a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #000000;
        font-weight: 700;
        display: block;
        padding: 2rem;
    }
     .active a {
        background-color: #edc26c;
        background-image: linear-gradient(to bottom, #edc26c, #eda86c);
        color: black;
    }
    nav a:hover {
      color: #eda86c;
    }
    }
    /*small screen*/
    @media only screen and (max-width: 800px) {
      nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
    nav a {
        display: block;
        padding: .6rem;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        border-bottom: solid 10px #419bd3;
        color: black;
    }
    nav .active a {
      background-color: #edc26c;
      background-image: linear-gradient(to bottom, #edc26c, #eda86c);
      color: black;
    }
    nav a:hover {
      color: #eda86c;
    }
    main{
      max-width: 90rem;
      margin: 0 auto;
      flex-wrap: wrap;
    }
    }